nav {
    background-color: #fbbf24; /* yellow-300 */
    width: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

nav .relative {
    width: 100%;
    max-width: 1225px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px; /* Added padding for mobile */
}

nav ul {
    display: flex;
    space-x-10;
    text-black;
    font-semibold;
}

nav ul li {
    text-lg;
    cursor-pointer;
    padding: 1.75rem 0;
    transition: all 0.2s;
    position: relative;
}

nav ul li a {
    color: black;
    transition: color 0.2s;
}

nav ul li:hover a {
    color: white;
}

nav ul li .group-hover {
    display: none;
}

nav ul li:hover .group-hover {
    display: block;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    nav .relative {
        flex-direction: column; /* Stack items vertically */
        height: auto;
        padding: 10px; /* Padding for mobile */
    }

    nav ul {
        flex-direction: column; /* Make navigation items stack vertically */
        align-items: center;
    }

    nav ul li {
        padding: 10px 0; /* Adjust padding for better spacing */
        text-align: center;
    }

    nav ul li:hover .group-hover {
        bottom: 0; /* Adjust hover underline for mobile */
    }

    nav a img {
        width: 120px; /* Adjust logo size for mobile */
        height: auto;
    }
}
